body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3.5em;
    color: hsl(0, 0%, 30%);
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.504);
}
.choices {
    margin-bottom: 30px;
}
button{
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: hsl(200, 100%, 50%);
    cursor: pointer;
}
button:hover{
    background-color: hsl(220, 100%, 50%);
    transition: 0.5s ease;
}
#playerDisplay{
    font-size: 3rem;
}
#computerDisplay{
    font-size: 3rem;
}
#resultDisplay{
    font-size: 5rem;
    margin: 30px 0;
}
.scoreDisplay {
    font-size: 2rem;
}
.greenText,#playerscoreDisplay {
    color: hsl(130, 84%, 54%);
}
.redText,#computerscoreDisplay {
    color: hsl(0, 84%, 60%);
}
